.about-submenu{
    width: 10%;
    position: absolute;
    /* top: 97%; */
    list-style: none;
    text-align: start;
}
.dropdownitems{
    display: block;
}
.dropdownimages{
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    display: block;
    padding: 0;
    /* overflow: hidden; */
    opacity: 0;
}
.about-submenu.active{
    display: none;
}
.about-submenu li{
    background-color: white;
    cursor: pointer;
}
.dropdownlist{
    display: flex;
    line-height: 1.8;
    text-decoration: none;
    color: black;
} 