.about-submenu{
    width: max-content;
    position: absolute;
    /* top: 97%; */
    list-style: none;
    text-align: start;
}
.dropdownitems{
    display: block;
}
.about-submenu.active{
    display: none;
}
.about-submenu li{
    background-color: white;
    cursor: pointer;
}
.dropdownlist{
    display: flex;
    line-height: 1.8;
    text-decoration: none;
    color: black;
} 