.underline{
    text-decoration: none;
}
.cards{
    width: 100%;
    margin: 0 auto;
    background-color: #F8F6F3;
    border-radius: 20px;
    color: black;
    margin-top: 2em;
    word-wrap: break-word;
}
.onlinetitle{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.onlineimg{
    width: 70%;
    display: block;
    margin: 0 auto;
}
.onlinedesc{
    font-size: 20px;
    text-align: center;
}
.diseases{
    font-size: 17px;
    text-align: center;
    color: purple;
}