*{
    margin: 0;
    padding: 0;
}
.footercontainer{
    width: 100%;
    padding-top: 10px;
    padding-bottom:10px ;
    background-color:#011627;
    color: white;
    position: relative;
    overflow: hidden;
}
.footerheadings{
    padding-left: 1.7em;
}
.footermain{
    width: 100%;
}
.footertop{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.websitename{
    margin-top: 1em;
    /* text-align: center; */
    padding-left: 1em;
}
.quote{
    padding-top: 1em;
    font-size: 14px;
    text-align: center;
    margin-top: 2em;
}
.copyright-downpart{
    text-align: center;
    font-size: 1em;
}
.footer-contents{
    margin-top: 2em;
    width:100% ;
    /* padding-left: 2em; */
    /* margin-left: 2em;*/
}
ul{
    list-style-type: none;
}
.footerlist{
    padding-left:2em ;
    margin-top: 2em;
}
.footeritems{
    text-decoration: none;
    color: white;
}
.socialmedia{
      display: flex;
      justify-content:center ;
}
.fabandinstaicons{
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
.copyright-downpart{
  margin-top: 3em;
  margin-bottom: 3em;
}
.websitename{
    margin-left: 0.9em;
}
@media (min-width:768px){
    .description{
        margin-top: 6em;
    }
    /* .footer-contents{
        display: flex;
    } */
    .col{
        flex-basis: 100%;
    }
     .footermain{
        display: flex;
    }
    .footerlist{
        margin-left: 13px;
    }
    .footertop{
        text-align: center;
        margin-top: 2em;
    }
    .itemsdownpart{
        margin-top: 2em;
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;
    }
    .downpart{
        color: white;
        text-decoration: none;
        font-size: 1.2em;
    }
    .footerheadings{
        font-size: 1.5em;
    }
    .copyright-downpart{
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .socialmedia{
        display: flex;
        justify-content: end;
    }
     .fabandinstaicons{
        margin-right: 2em;
     }
     .footeritems:hover{
         color: red;
     }
} 