.onlineconsult{
    width: 100%;
    transition: 850ms;
    color: white;
}
.sidebarheadings1{
    color: black;
     font-size: 22px;
     margin:1em 0em;
}
.onlinecards{
    width: 100%;
    /* background-color: lightblue; */
    margin-top: 2em;
}
@media (min-width:920px){
    .onlinecards{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 40px;
        margin: 0 auto;
    }
}
