.category{
    width: 100%;
    background-color: white;
    left: -100%;
    transition: 850ms;
    color: white;
}
.cateogory.active{
    left: 0;
    transition: 350ms;
}
.cards{
    width: 100%;
    /* background-color: lightblue; */
    margin-top: 2em;
}
@media (min-width:920px){
    .cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 22px;
    }
}
