.card-categoery{
    margin: 0 auto;
    /* border: 2px solid blue; */
    background-color:#F8F6F3;
    width: 70%;
    height: 200px;
    padding: 30px;
    display: flex;
    align-items: center;
    margin-top: 2em;
    border-radius: 20px;
    color: black;
    box-shadow: 4px 4px 15px gray;
}
.card-categoery:last-child{
    margin-bottom: 2em;
}
.card-categoery:hover{
    -webkit-transform: scale(1.07);
     transform: scale(1.08);
     font-weight: bold;
     /* box-shadow: 3px 3px 10px black; */
     
}
.categoeryimg{
    width: 40%;
    height: 100px;
    margin-left: 1em;
}
.sidebarheadings{
    margin-top: 3em;
}
.categoerytitle{
    margin-left: 2em;
    font-size: 1.3rem;
}
@media (min-width:920px){
    .card-categoery:nth-child(1){
        margin-top: 2em;
    }
    .card-categoery:nth-child(2){
        margin-top: 2em;
    }
    .card-categoery:nth-child(3){
        margin-top: 2em;
    }
    .card-categoery:last-child{
        margin-bottom: 2em;
    }
}