.overlay_styles{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 10;
}
.login-card{
    width: 90%;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius:25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
}
.loginform{
    width: 90%;
}
.row100{
    position: relative;
    width: 100%;
    padding-top: 20px;
}
.col{
    position: relative;
    width: 100%;
    margin: 30px 0 10px;
    transition: 0.5s;
}
.inputbox{
    position: relative;
    width: 100%;
    height: 40px;
    color: black;
}
.inputbox input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    z-index: 1;
    color: white;
    margin-left: 20px;
}
.inputbox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    display: block;
    transition: 0.5s;
    pointer-events:none;
    margin-left: 15px;
}
.inputbox input:focus + .text,
.inputbox input:valid + .text{
    top: -35px;
    left: -5px;
}
.inputbox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 90%;
    height: 2px;
    border-radius: 2px;
    pointer-events: none;
    background-color: black;
    margin-left: 15px;
}
.inputbox input:focus ~ .line,
.inputbox input:valid ~ .line{
    height: 100%;
}
.submit{
    border:none;
    cursor:pointer;
    outline:none;
    background-color: black;
    font-size: 18px;
    border-radius: 30px;
    margin-left: 1em;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
}
.signin{
    font-size: 16px;
    color: black;
    cursor: pointer;
    margin-left: 1.4em;
    padding-bottom: 20px;

}
.signin:hover{
    color: blue;
    font-size: 17px;
}

@media (min-width:900px){
    .login-card{
        width: 30%;
        padding-top: 20px;
        padding-bottom: 20px;

    }
}
