@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Luxurious+Roman&family=Montserrat:ital,wght@0,100;1,200&family=Nunito:wght@200&display=swap');@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Luxurious+Roman&family=Merriweather:ital,wght@0,300;1,300&family=Montserrat:ital,wght@0,100;1,200&family=Nunito:wght@200&display=swap');


.dashboard-container{
    width: 100%;
    background-color:#F8F6F3 ;
    padding-top: 2em;
    padding-bottom: 2em;
}
.top-contents{
    width: 100%;
}
.left-side-contents{
    width: 80%;
    margin: 0 auto;
}
.profile-icon{
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3),5px 5px 5px rgba(0,0,0,0.3);
}
.edit-profile{
    text-align: center;
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 10px;
    background-color:  black;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
    cursor: pointer;
    color: white;
}
.left-card{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 1.3em;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3),15px 15px 15px rgba(0,0,0,0.3);
    margin-top: 2em;
}
.profile-details{
    padding-top: 1.3em;
    font-size: 20px;
    font-family: 'Courgette', cursive;
}
.gender{
    display: block;
    margin-top: 0.5em;
    margin-left: 6px;
    cursor: pointer;
}
.productshop-details{
    font-size: 2.5em;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin-top: 2em;
    font-weight: bold;
}
.table-container{
	width: 100%;
	border-collapse: collapse;
    margin-top: 2em;
}
.table{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3),15px 15px 15px rgba(0,0,0,0.3)
}
.table1{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3),15px 15px 15px rgba(0,0,0,0.3)
}
.headings{
    text-align: center;
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
    padding-right: 3em;
    background-color:#f5f5f5 ;
    font-size: 1em;
    font-family: 'Secular One', sans-serif;
}
.data{
    text-align: center;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
.rows{
    width: 100%;
}
.rows:nth-child(even){
    background-color: #f5f5f5;
}
.headings1{
    text-align: center;
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
    padding-right: 3em;
    background-color:#f5f5f5 ;
    font-size: 1em;
    font-family: 'Secular One', sans-serif;
}
.data1{
    text-align: center;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    font-family: 'Quicksand', sans-serif;
}
.rows1{
    width: 100%;
}
.rows1:nth-child(even){
    background-color: #f5f5f5;
}
.paginationbuttons{
    width: 100%;
    margin-top: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.paginationbuttons a{
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}
.paginationbuttons a:hover{
    background-color: black;
    color: white;
}
.paginationActive a{
    background-color: black;
    color: white;
}
.productshop-title{
    font-size: 2.5em;
    padding-top: 1em;
    padding-left: 10px;
    font-family: 'Noto Serif', serif;
}
.items{
    width:80%;
    margin: 0 auto;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 2em;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3),15px 15px 15px rgba(0,0,0,0.3)
}
.cart{
    text-align: center;
    font-size: 2.5em;
    padding-top: 2em;
    padding-bottom: 1em;
    font-family: 'Permanent Marker', cursive;
}
.cart_section_styling{
    border-radius: 8px;
    padding-bottom: 1em;
    text-align: center;
}

.order_heading{
background-color:black;
margin: 0;
font-size: 30px;
border-radius: 8px;
color: white;
}

.icon_alignment{
    padding-top: 2em;
    padding-bottom: 2em;
}
.empty{
    font-size: 1.7em;   
}
.icon_alignment1{
    padding-top: 2em;
    padding-bottom: 2em;
}
.repo{
    font-size: 2.5em;
    font-family: 'Permanent Marker', cursive;
}
.repo1{
    font-size: 3em;
}
.userrepo-form{
    width: 100%;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    padding-top: 2em;
    padding-bottom: 2em;
}
.repo-form{
    width: 50%;
    margin: 0 auto;
}.repo-view{
    text-align: center;
    font-size: 20px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-top: 16px;
    border-radius: 10px;
    background-color: black;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: white;
}
.repo-all{
    text-align: center;
    font-size: 20px;
    padding-left: 13px;
    padding-bottom: 13px;
    padding-right: 13px;
    padding-top: 13px;
    border-radius: 10px;
    background-color: black;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: white;
}
.underline{
    text-decoration: none;
}
@media(min-width:800px){
    .top-contents{
        display: flex;
        flex-wrap: wrap;
    }
    .left{
        flex:1 1 30%
    }
    .right{
        flex:1 1 70%
    }
    .profile-icon{
        width: 50%;
    }
}
@media(max-width: 800px){
    .table-container{
        margin-top: 2em;
        width: 100%;
    }
    .table{
        width: 100%;
    }
	.table thead{
        display: none;
    }
    .table,.table tbody,.table tr,.table td{
        display: block;
        width: 100%; 
    }
    .rows{
        margin-bottom: 2em;
    }
    .data{
        padding: 0;
        margin: 0;
        text-align: right;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .data::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
    .table-container1{
        margin-top: 2em;
        width: 100%;
    }
    .table1{
        width: 100%;
    }
	.table1 thead{
        display: none;
    }
    .table1,.table1 tbody,.table1 tr,.table1 td{
        display: block;
        width: 100%; 
    }
    .rows1{
        margin-bottom: 2em;
    }
    .data1{
        padding: 0;
        margin: 0;
        text-align: right;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .data1::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
}
