.wrapper
{
  margin:2em;
}
.container 
{
  width:100%;
}
.img_container
{
  width:100%;
  position: relative;
}

/*ProdDescImage*/
.prodimagelist
{
  margin: 0;
  padding: 0;
}

.prodimagelist li
{
  text-decoration: none;
  list-style-type: none;
  display: inline;
}

.prodimagelist li img
{
  width:20%;
  margin:2%;
  /* background-size: cover; */
}

.notcurzoomimg
{
  opacity:0.6;
}
.notcurzoomimg:hover
{
  opacity:1;
}

.curzoomimg
{
  opacity: 1;
}

.basicinfo h1{
  overflow-wrap: break-word;
  /* text-align: justify; */
  margin-bottom:1em;
}

.basicinfo p{
  line-height: 2em;
}

.price,.tabletcnt
{
  font-weight: bold;
}

.option
{
  background-color: black;
  color:white;
}

/*quantity & add to cart*/


.firstquantity,.secondquantity
{
  /* width: 60%; */
  list-style-type:none ;
  margin: 0;
  margin-top: 4em;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.firstquantity
{
  width:50%;
}

.secondquantity
{
  width:60%;
}


.firstquantity li button,.secondquantity li button
{
  background-color: black;
  color: white;
  border-radius: 9%;
  /* box-shadow:none;
  border: none;
  width:100%;  */
  font-size: 1rem;
  padding: 0.5em 1em;
  cursor: pointer;
}

.firstquantity li div
{
  border:2px solid lightgray;
  padding:0.6em 1.5em;
}




/* Product body */

.composition,.description,.faq
{
 margin-bottom: 0.5em;
 border-top:4px solid white;
 cursor: pointer;
 font-size: 1.5rem;
}

#curinfo
{
  border-top: 4px solid black;
  font-weight: 700;
}

/* Add review  */

.nofillstar1,.nofillstar2,.nofillstar3,.nofillstar4,.nofillstar5
{
  color: #66992f;
}

#addReviewFrm input:focus,#addReviewFrm textarea:focus
{
  outline: none;
  border:2px solid #66992f; 
}


.submit
{
  color: white;
  background-color: #66992f;
  border-radius: 20%; 
  cursor: pointer;
  padding:0.5em 1em;
  font-size: 1rem;
  font-weight: bold;
}

/*Related Products*/
.related{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.related>div{
  width: 40%;
  box-sizing: border-box;
  margin:1.8em;
}

.addreview
{
  border: 1px solid lightgray;
  padding: 1em;
}


/* medicine product details  */

.compositioninfo
{
  margin-top: 4em;
  font-size: 1.3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.descsection
{
  margin-top: 2em;
}



.descsection p,.faqinfo
{
  text-align: justify;
  margin-top: 0.8em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 150%;
}

.faqinfo
{
  margin-top: 2em;
}

.faqquestion
{
  font-weight: bolder;
}

.productImage
{
  width: 100%;
  background-size: cover
}

@media (min-width:600px)
{
  .firstquantity{
    width:40%;
  }

  .secondquantity{
    width: 50%;
  }
}

@media (min-width:1000px) {
  .wrapper
  {
    background-color:#f8f6f3;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 5em;
  }

  .container{
    width: 90%;
    background-color: white;
    margin: 0 auto;
    padding-bottom: 2em;
  }

  .prodbody
  {
    margin:0 3em;
  }
  .header
  {
    /* display: flex; */
    display: grid;
    width:90%;
    grid-template-columns: repeat(2,1fr);
    /* justify-content: space-around; */
    margin:0 auto;
    margin-bottom: 1em;
  }

 .img_container
  {
    width:60%;
  }

  .basicinfo
  {
    margin-left: 2em;
  }

  .basicinfo h1
  {
  font-size: 2em;
  }

  .bodymenu
  {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  .review_container
  {
    display: flex;
    justify-content: space-around;
  }

  .firstquantity
  {
    width:40%;
  }

  .secondquantity{
    width: 60%;
  }
  /* .addreview
  {
    width: 50%;
  } */
  /* .reviewinfo
  {
    width:40%;
  } */

  .related>div{
    width: 20%;
    /* box-sizing: border-box; */
    margin: 1em;
  }

}
